body {
            font-family: Montserrat, Poppins;
            display: flex;
            justify-content: center;
            align-items: center;
            
            background-color: #f4f4f4;
     }
header{
            text-align: center;
}
.title{
            text-align: center;
  
}
.loginForm p{
            font-weight: bold;

form {
            display: flex;
            
            gap: 10px;
            background: white;
            padding: 20px;
            border-radius: 5px;
            width: 300px;
}
 input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            width: 100%;
        }

  button {
            padding: 10px;
            background-color: #6EADFB;
            color:  white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

  button:hover {
            background-color: #0056b3;
  }
